<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="mysql.properties"/>
    <settings>

        <!--全局性设置懒加载，如果设置为false，则所有相关关联的都会被初始化加载，默认为false-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--当设置为true的时候，懒加载的对象可能被任何懒属性全部加载，否则，每个属性都按需加载，默认为true-->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    <typeAliases>
        <!--别名-->
        <typeAlias type="com.lxm.bean.Student" alias="Student"/>
    </typeAliases>
    <!---->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/StudentMapper.xml"/>
    </mappers>

</configuration>
